<div class="lecture-list">
	<h1>Vorlesungen & Übungsgruppen</h1>

	<mat-accordion class="" multi>
		<mat-expansion-panel (opened)="panelOpenState[lecture.id] = true" (closed)="panelOpenState[lecture.id] = false"
			class="lecture-list-entry" *ngFor="let lecture of lectures">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<table style="border: 0px;">
						<tr>
							<td class="lecture-semester">
								{{lecture.semester}}
							</td>
							<td style="padding-left: 20px; font-weight: 500;">
								{{lecture.name}}
							</td>
							<td style="padding-left: 20px;">
								{{lecture.dozent}}
							</td>
						</tr>
					</table>
				</mat-panel-title>
				<mat-panel-description style="align-items: center; justify-content: right; padding-right: 20px;">
					{{panelOpenState[lecture.id] ? 'zum schließen klicken' : 'zum öffnen klicken'}}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<p>{{hasTutorials(lecture.id) ? 'Gruppenliste' : 'Noch keine Gruppen eingetragen'}}</p>

			<table *ngIf="hasTutorials(lecture.id)" class="full-width-table" matSort (matSortChange)="sortData($event, lecture.id)">
				<tr>
					<th mat-sort-header="zeit">Zeit</th>
					<th mat-sort-header="raum">Raum</th>
					<th mat-sort-header="auslastung">Auslastung</th>
					<th mat-sort-header="kommentar">Kommentar</th>
					<th mat-sort-header="tutor">Tutor</th>
					<th>Teilnahme</th>
				</tr>

				<tr *ngFor="let learningGroup of sortedData[lecture.id]">
					<td>{{learningGroup.zeit}}</td>
					<td>{{learningGroup.raum}}</td>
					<td>{{learningGroup.auslastung}}</td>
					<td>{{learningGroup.kommentar}}</td>
					<td>{{learningGroup.tutor}}</td>
					<td class="td-centered">
						<button mat-raised-button color="accent">Anmelden</button>
					</td>
				</tr>
			</table>
		</mat-expansion-panel>
	</mat-accordion>

</div>